.Message {
  margin-bottom: 55px;
  .MessageHeader {
    display: flex;
    justify-content: space-between;

    padding: 5px 0 12px 0;
    .UserName {
      @include medium(24px);
    }
    time {
      color: #d1d1d1;
      @include bold;
    }
  }

  .MessageBody {
    @include regular(19px);
    line-height: 30px;
  }

  &.NewMessage {
    .UserName, time {
      color: #f2991a;
    }
  }
}
