.MessageBox {
  display: flex;
  flex-direction: column;

  padding: 20px;


  textarea {
    width: 100%;
    border: solid 2px #bacde1;
    padding: 10px;
    resize: none;
    border-radius: 3px;
    //min-height: 50px;
    height: 192px;
    color: #555;
    font-size: 14px;
    outline: auto 0px;
  }

  .MessageBoxFooter {
    display: flex;
    justify-content: space-between;

    padding: 20px 0 23px;

    .callToChatLink {
      display: flex;
      align-items: flex-start;

      cursor: pointer;

      color: #507aa9;
      @include bold(18px);

      text-transform: uppercase;

      img {
        width: 23px;
        height: 29px;
      }

      div {
        margin-left: 5px;
        padding-top: 5px;

      }

    }

    .sendButton {
      width: 213px;
      height: 58px;
      background-color: #cfcfcf;
      border-radius: 29px;

      cursor: pointer;

      color: white;
      @include bold(18px);

      text-transform: uppercase;
      text-align: center;
      padding-top: 18px;
    }

  }
}
