<div id="ChatApp"></div>


<script>
  <% ws_protocol = Setting.protocol == 'https' ? 'wss' : 'ws' %>
  var socket;
  socket = new WebSocket("<%= ws_protocol %>://" + window.location.host + "/chat/" + <%= @issue.id.to_s %> +"/events");
//
//
//  socket.onclose = function (event) {
//    if (event.wasClean) {
//      alert('Соединение закрыто чисто');
//    } else {
//      alert('Обрыв соединения'); // например, "убит" процесс сервера
//    }
//    alert('Код: ' + event.code + ' причина: ' + event.reason);
//  };
//
  socket.onmessage = function (event) {
    alert("Получены данные " + event.data);
  };

  socket.onerror = function (error) {
    alert("Ошибка " + error.message);
  };

  socket.onopen = function (e) {
    return console.log('socket opened');
  };

</script>
