.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.messagelist {
    align-self: stretch;
}

.topbar {
    align-self: flex-start;
    flex: 1;
}

.composer {
    align-self: flex-end;
    width: 100%;
    flex: 0;
}
