.sidebar {
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
    composes: darkbluebg from 'styles/colors.css';
}

.channellist {
    flex: 1;
    padding: 20px;
    composes: bluebg from 'styles/colors.css';
}

.channel {
    padding: 15px;
    border-bottom: 1px solid gray;
}

.userlist {
    flex: 1;
    padding: 20px;
}

.user {
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-content: center;

}

.user_avatar {
    display: block;
    flex: 0;
    width: 36px;
    height: 36px;
    border-radius: 18px;
}

.user_name {
    flex: 1;
}
