.sidebar {
    font-size: 20px;
    float: left;
    height: 100%;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    max-width: 30%;
    composes: darkbluebg from 'styles/colors.module.css';
}

.sidebar__top {
    padding: 25px;
}

.sidebar__top__button {
    margin-right: 30px;
    cursor: pointer;
}

.channellist {
    composes: bluebg from 'styles/colors.module.css';
}

.channellist__channel {
    position: relative;
    padding: 45px 45px 35px 45px;
    border-bottom: 1px solid #7294ba;
}

.channellist__channel__unread {
    font-size: 18px;
    display: inline-block;
    margin-left: 15px;
    background: #f2991a;
    color: white;
    padding: 2px 10px;
    border-radius: 10px;
}

.channellist__channel__selection {
    position: absolute;
    top: 50%;
    left: 0;
    width: 0; 
	height: 0; 
    margin-top: -8px;
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent;
	border-left: 18px solid white;
}

.channellist__channel__leave {
    display: none;
    position: absolute;
    width: 45px;
    height: 100%;
    top: 0;
    right:0;
    border-left: 1px solid #7294ba;
}

.channellist__channel__leave__icon {
    cursor: pointer;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.channellist__channel:hover .channellist__channel__leave {
    display: block;
}

.userlist {
    padding: 40px 35px;
    font-size: 20px;
}

.userlist__user {
    margin-bottom: 25px;

}

.userlist__user__avatar {
    display: block;
    float: left;
    width: 36px;
    height: 36px;
    border-radius: 18px;
}

.userlist__user__name {
    margin-top: 5px;
    margin-left: 61px
}
