<div id="ChatApp"></div>
<% if User.current.admin? %>

    <script src="/redmine-chat/chat.js"></script>
  <script>
  
  // Load chat script and then call init function

  var script = document.createElement('script');

  if(script.readyState) {  // IE
      script.onreadystatechange = function() {
          if ( script.readyState === "loaded" || script.readyState === "complete"  ) {
              script.onreadystatechange = null;
              __REDMINE_CHAT__.initChatFull(document.getElementById('ChatApp'));
          }
      };
  } else{ // others
      script.onload = function() {
          __REDMINE_CHAT__.initChatFull(document.getElementById('ChatApp'));
      }
  }

  // TODO: change script path to generate by redmine instead of hardcoded one
  script.src = "/plugin_assets/redmine_chat/javascripts/chat.js"
  document.documentElement.appendChild(script);
  </script>

<% end %>
