<% if User.current.allowed_to?(:join_chat, @issue.project) %>
<button onclick="javascript:__REDMINE_CHAT__ ? __REDMINE_CHAT__.joinChat(<%= @issue.id %>) : alert('Чат не инициализирован')">Войти в чат</button>
<% end %>
