@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,cyrillic-ext);

$regular: 'Roboto', sans-serif;
$medium: 'Roboto Medium', sans-serif;
$bold: 'Roboto Bold', sans-serif;

@mixin regular($size: 14px) {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: $size;
}

@mixin medium($size: 14px) {
  font-family: 'Roboto Medium', Helvetica, Arial, sans-serif;
  font-size: $size;
  font-weight: 500;
}

@mixin bold($size: 14px) {
  font-family: 'Roboto Bold', Helvetica, Arial, sans-serif;
  font-size: $size;
  font-weight: bold;
}
