@import 'fonts';
@import 'chat';
@import "components/Chat";

.ChatContainer {
  position: fixed;
  right: 0;
  top: 0;

  width: 1177px;
  height: 1350px;
  max-height: 100%;

  display: flex;
  flex-direction: column;

  background-color: #3e5a76;

  font-family: $regular;

  * {
    box-sizing: border-box;
  }

  .NavHeader {
    height: 80px;
  }
  .ChatWrapper {
    display: flex;
    height: calc(100% - 80px);

    aside {
      display: flex;
      flex-direction: column;

      ul {
        width: 360px;
      }
      .UserList {
        height: 450px;

        .UserListItem {
          .UserPhoto {

          }
          .UserName {

          }
        }
      }

      .ChatList {
        background-color: #507aa9;
        .ChatListItem {

        }
      }
    }
    //.Chat {
    //  display: flex;
    //  flex-direction: column;
    //
    //  background-color: white;
    //
    //  .ChatHeader {
    //    display: flex;
    //    justify-content: space-between;
    //    height: auto;
    //    padding: 53px 37px 26px 39px;
    //    h1 {
    //      margin: 0;
    //      @include medium(36px);
    //
    //      line-height: 40px;
    //      color: #212121;
    //
    //
    //    }
    //    .ChatLabel {
    //      height: 32px;
    //      margin-top: 6px;
    //      border: 2px solid #507aa9;
    //      padding: 9px 18px;
    //
    //      @include bold;
    //
    //      line-height: 11px;
    //      color: #507aa9;
    //      text-transform: uppercase;
    //
    //    }
    //  }
    //
    //
    //}
  }
}
