#chat {
    position: fixed;
    right: 5px;
    bottom: 5px;
    width: 300px;
    padding: 0;
    background-color: white;
    border: 1px solid #999;
}

#chat .chat-header {
    background: #293239;
    color: #fff;
    cursor: pointer;
    height: 30px;
}

#chat .chat-header .header {
    padding: 8px 20px;
}

#chat .chat-header .chat-message-counter {
    background: #e62727;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    left: 0;
    line-height: 28px;
    margin: -15px 0 0 -15px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 28px;
}

#chat .chat {
    display: none;
}

#chat .chat-messages {
    overflow: auto;
    max-height: 500px;
    min-height: 300px;
    margin-bottom: -1px;
    padding: 0 10px;
}

#chat .chat-messages .time {
    float: right;
    font-size: 10px;
}

#chat .chat-messages .chat-message {
    padding: 10px 0;
    border-bottom: 1px #999 dashed;
}

#chat input {
    width: 294px;
    height: 20px;
    margin: 0;
}
